title: Platform Chronicles
description: Learning through narrative-driven technical implementations
baseurl: "/blog"
url: "https://platform-chronicles.github.io"
markdown: kramdown

# Syntax highlighting
kramdown:
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: 'highlight'
    span:
      line_numbers: false
    block:
      line_numbers: false

plugins:
  - jekyll-feed

exclude:
  - README.md
  - vendor/
  - Gemfile
  - Gemfile.lock
  - _drafts/README.md